    <!--*************************************************************************************-->
    <footer>
        <div class="wrapper">
            © 2018 Путилин Евгений <a href="mailto:evgputweb@yandex.ru">evgputweb@yandex.ru</a>
        </div>
    </footer>
    <!--*************************************************************************************-->

    {% if curSection in ["register","auth"] %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    {% endif %}


    </body>
</html>
