{% include('common/_header.twig') %}

    <!--*************************************************************************************-->
    <div class="main"> <!-- доп.обёртка для прижатия футера -->

        {% include('common/_admin_nav.twig') %}

        <div class="content">
            <div class="wrapper wrapper-admin">

                {% include('common/_admin_info.twig') %}

                <div class="admin-control-area">
                    <a href="/admin/myfiles" class="big-btn">МОИ ФАЙЛЫ</a>
                    <a href="/admin/userslist" class="big-btn">СПИСОК ПОЛЬЗОВАТЕЛЕЙ</a>

                </div>

            </div>
        </div>
    </div>
    <!--*************************************************************************************-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../js/sweetalert2.min.js"></script>

    <script src="../../js/edituserinfo.js"></script>


{% include('common/_footer.twig') %}
