{% include('_header.twig') %}

    <!--*************************************************************************************-->
    <div class="main"> <!-- доп.обёртка для прижатия футера -->

        {% include('_nav_admin.twig') %}

        <div class="content">
            <div class="wrapper">
                <main>
                    <h1>Админ панель</h1>

                </main>
            </div>
        </div>
    </div>
    <!--*************************************************************************************-->

{% include('_footer.twig') %}
