{% include('_header.twig') %}

    <!--*************************************************************************************-->
    <div class="main"> <!-- доп.обёртка для прижатия футера -->

        {% include('_nav.twig') %}

        <div class="content">
            <div class="wrapper">
                <main>
                    <h1>Выпускной проект №2</h1>
                    <p>
                        {{ successMessage | raw }}
                    </p>
                </main>
            </div>
        </div>
    </div>
    <!--*************************************************************************************-->

{% include('_footer.twig') %}
