<div class="admin-user-info">
    <div class="admin-user-info-photo">
        <img src="/user/mainPhoto" alt="" width="200" height="267">
    </div>
    <div>
        <div class="admin-user-info-data">
            <p>{{ name }}</p>
            <p> description </p>
            <a href="/user/editselfdata" class="admin-edit-self-data">Редактировать данные</a>

        </div>
    </div>
</div>
