<nav class="nav-admin">
    <div class="wrapper">
        <div class="admin-login">
            <img src="../../img/gear-option.png" alt="" class="admin-logo" height="32">
            <a href="/admin">{{ login | upper }}</a>
        </div>
        <div class="admin-panel-caption">
            Панель управления
        </div>
        <div class="admin-panel-logout">
            <a href="/user/logout">Выйти</a>
        </div>
    </div>
</nav>
